.lobster-regular {
  font-family: 'Lobster', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.style-script-regular {
  font-family: 'Style Script', cursive;
  font-weight: 400;
  font-style: normal;
}

.barlow-semi-condensed-regular {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.solitreo-regular {
  font-family: 'Solitreo', cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'digital-clock-font';
  src: url('/digital-7.ttf');
}
.font-digital {
  font-family: 'digital-clock-font';
  src: url('/digital-7.ttf');
}

ul.bulleted {
  list-style-type: circle;
}

ul.bulleted-inside {
  list-style-type: circle;
  list-style-position: inside;
}

#fotoPortada {
  width: 100vw;
  height: 530px;
  min-height: 300px;
  background-image: url('/portada.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#fotoBoda {
  width: 100vw;
  height: 450px;
  min-height: 300px;
  background-image: url('/fotomaton.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fotoRegalo {
  width: 100vw;
  height: 650px;
  min-height: 300px;
  background-image: url('/regalo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#fotoFAQ {
  width: 100vw;
  height: 700px;
  min-height: 300px;
  background-image: url('/boda.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
